#n1 {
    color: gold;
}
.nav {size: 500;}


.p {
    color:rgb(253, 253, 253);
    font-size: larger;
}


body {
    background-color: lightslategray;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 15px;
}