#n1 {
    color: gold;
}
.nav {size: 500;}

.container {
    height: 100vh;
    width: 100vw ;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}

#div1 {
    grid-column: 
}
body {
    background-color: grey;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 15px;
}